defaults:
  - dealiasm_2d
  - override loading/data_loading@loading.train.data_loading: unfolded_loadnpy
  - override loading/data_loading@loading.test.data_loading: unfolded_loadnpy

dataset_name: DEALIASV
separate_transform: False
seg_label: False
data_keys:
  all_keys:
    - ${datamodule.data_keys.image_key}
    - ${datamodule.data_keys.label_key}
    - "seg"

loading:
  train:
    crop:
      label_key: "seg"

augmentation:
  rotation:
    rotate:
      mode:
        - ${get_interp_mode:${datamodule.patch_size},${datamodule.do_dummy_2D_data_aug},"rotation"}
        - ${get_interp_mode:${datamodule.patch_size},${datamodule.do_dummy_2D_data_aug},"rotation"}
        - "nearest"
  zoom:
    zoom:
      mode:
        - ${get_interp_mode:${datamodule.patch_size},${datamodule.do_dummy_2D_data_aug},"zoom"}
        - ${get_interp_mode:${datamodule.patch_size},${datamodule.do_dummy_2D_data_aug},"zoom"}
        - "nearest"
      align_corners:
        - True
        - True
        - null
  noise:
    gaussian_noise:
      keys:
        - ${get_noise_and_intensity_transform_key:${datamodule.separate_transform},${datamodule.data_keys.image_key}}
        - ${datamodule.data_keys.label_key}
    gaussian_smooth:
      keys:
        - ${get_noise_and_intensity_transform_key:${datamodule.separate_transform},${datamodule.data_keys.image_key}}
        - ${datamodule.data_keys.label_key}
  intensity:
    scale_intensity:
      keys:
        - ${get_noise_and_intensity_transform_key:${datamodule.separate_transform},${datamodule.data_keys.image_key}}
        - ${datamodule.data_keys.label_key}
    adjust_contrast:
      keys:
        - ${get_noise_and_intensity_transform_key:${datamodule.separate_transform},${datamodule.data_keys.image_key}}
        - ${datamodule.data_keys.label_key}
