defaults:
  - augmentation: default_3d
  - loading@loading.train: default_train
  - loading@loading.test: default_test

_target_: ascent.datamodules.nnunet_datamodule.nnUNetDataModule
data_dir: ${paths.data_dir}
batch_size: ???
dataset_name: ???
patch_size: ${model.net.patch_size}
in_channels: ${model.net.encoder.in_channels}
# Whether to do dummy 2D data augmentation during the training of 3D-UNet
do_dummy_2D_data_aug: ???
fold: ${fold}
num_workers: 12
pin_memory: True
test_splits: True
seg_label: True
data_keys:
  image_key: "image"
  label_key: "label"
  all_keys:
    - ${datamodule.data_keys.image_key}
    - ${datamodule.data_keys.label_key}
