artificial_aliasing:
  _target_: ascent.utils.transforms.RandArtfclAliasingd
  keys: ${datamodule.data_keys.all_keys}
  prob: 0.5
  wrap_range: [0.6, 0.9]
  seg_key: ${get_seg_key:${datamodule.augmentation.aliasing.artificial_aliasing.keys}}
